* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home */

.lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* singup */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 3px 10px 24px -1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 3px 10px 24px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 3px 10px 24px -1px rgba(0, 0, 0, 0.21);
  border-radius: 1rem;
}

input {
  padding: 10px 2rem;
  outline: none;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn {
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: blueviolet;
  margin-top: 2rem;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

.h-screen {
  min-height: 100vh;
}
